/* HEADER */
.header-banner{
    /* text-align: left; */

    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: auto;
    height: 175px;

}


#logo{
    padding-top: 100px;
    width: 256px;
    /* height: 10%; */
}


/* MAIN */
h1{
    margin: 0;
}

.author{
    color: #808080;

    margin: 0;
}

.blue-highlight{
    color: #2daee6;
}