/* HEADER */
.header-banner{
    /* text-align: left; */

    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: auto;
    height: 175px;

}


#logo{
    padding-top: 100px;
    width: 256px;
    /* height: 10%; */
}


/* MAIN */
h1{
    margin: 0;
}

p{
    margin: 0;
}

.author{
    color: #808080;
    margin-bottom: 15px;
}

/* .sources{
    margin: 0;
} */

/* Text highlights */
.blue-highlight{
    color: #2daee6;
}

.marked {
    font-style: normal;
    background-color: yellow;
}


td{
    width: 100px;
}

.main-table{
    width: 100%;
    text-align: left;
    border-collapse: collapse; 
    
}

.main-table-head{
    background-color: #20a9e5;
    color: white;
    
}

.marked-row{
    background-color: #b1e5f2;
}